.input {
  margin: 20px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 10px 10px rgba(0, 20, 50, 0.1);
  background-color: rgba(32, 32, 32, 0.3);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.15);
  width: 300px;
  height: 40px;
  font-size: 16px;
  color: #c2c2c2;
  transition: background-color 0.3s ease;
}

.input:focus {
  background-color: rgba(32, 32, 32, 0.637);
  outline: none;
  box-shadow: 1px 10px 10px rgba(0, 20, 50, 0.2);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.15);
}

.input::placeholder {
  color: #aaa;
}
