.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  .paragraphs {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 50px;

    .title {
      margin-bottom: 20px;
    }

    .image {
      margin-bottom: 20px;
      height: auto;
      max-width: 100%;
    }

    .loading {
      margin: 400px;
    }

    .paragraph {
      margin-bottom: 20px;
    }
  }
}
