.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    z-index: 1;
    backdrop-filter: blur(5px);
    box-shadow: 1px 10px 10px rgba(0, 20, 50, 0.1);
    background-image: linear-gradient(
      170deg,
      rgb(25 70 147 / 20%),
      rgb(74 111 171 / 0%) 99%,
      #0b0a0a3b
    );
    height: 4rem;
    width: 100%;
    max-width: var(--max-width);
    padding: 1rem;
    margin: 1rem;
    border: 0 solid #35373e;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.15);
    border-left: 0.1rem solid rgba(255, 255, 255, 0.15);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15);
    border-radius: 1rem;

    .links {
      .link {
        color: rgba(255, 255, 255, 0.39);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .link:hover {
        color: rgba(255, 255, 255, 0.75);
        transition: 0.25s;
      }
    }
  }
}

.logoText {
  padding: 10px;
}
